*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.2em;
    background-color: #161616;
    color: #ff006a;
}
p{
    padding: 0 0 20px 0;
    line-height: 1.7em;
}
input[type="text"], input[type="password"], input[type="search"]{
    color: #ff006a;
    width: 60%;
    padding: 8px;
}
input,textarea{
    outline: none;
    border: none;
    border: solid 1px #ff006a;

}
h1,h2{
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #ff006a;
}
h2{
    font-size: 140%;
}
a,a:hover{
    outline: none;
    text-decoration: underline;
    color: #ff006a;
}
ul{
    margin: 2px 0 22px 17px;
}
ul.li {
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em ;
}
header{
    background-color: #000000;
    height: 177px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}
.main, .logo, .menubar, .site_content, .footer{
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 880px;
    padding-bottom: 40px;
}
.logo h1, .logo h2{
    font: normal 300% 'century gothic', arial, sans-serif;
    margin: 0 0 0 9px;
}
.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover{
    padding: 22px 0 0 0;
    color: #ff006a;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.logo_text h2{
    font-size: 0.9em;
    padding: 4px 0 0 0;
    color: #ff006a;
}
.logotf2 img{
    width: 70px;
    height: 70px;
    float: left;
    position : relative ; top: -150px;  }


.menubar{
    width: 900px;
    height: 36px;
}
ul.menu{
    float: left;
}
ul.menu li{
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
}
ul.menu li a{
    font: normal 100% 'trebuchet ms',sans-serif;
    display: block;
    height: 20px;
    padding: 6px 35px 5px 28px;
    color: #fff;
    text-decoration: none;
}
ul.menu li.selected a{
    color: #ff006a;
}
ul.menu li a:hover{
    color: #ff006a;
}
hr{
    border: solid 1px #ff006a;
}
.site_content{
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto ;
    background-color: #161616;
}
.sidebar_container{
    float: right;
    width: 240px;
}
.sidebar{
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #ff006a;
    border-radius: 5px;
    background-color: #1d1d1d;
}
.btn{
    padding: 8px;
    background-color: #ff006a;
    cursor: pointer;
}
.sidebar h2{
    color: d#ff006a;
}
.sidebar span a{
    color:#ff006a;
}
.lables_passreg_text{
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 2%
}
.sidebar ul{
    margin: 0;
    
}
.sidebar ul li{
    list-style-type: none;
    margin: 0 0 0 0;
    

}
.sidebar ul li a{
    list-style-type: none;
    margin: 0 0 0 0;
    color:#ff006a;
}
.sidebar .rating_sidebar{
    float: right;
}
.content{
    text-align: left;
    width: 620px;
    padding: 0 0 0 5px;
    float: left;
}
.films_block{
    margin-bottom: 5%;
    color: #ff006a;
}
.films_block img{
    border-radius: 5px;
    border: solid 5px #ff006a;
    width: 22%;
}
.post .post_content{
    font-size: 0.8em;
}
.namea h1{
    color: #ff006a;
    font: normal 200% 'trebuchet ms',sans-serif ;
    position : relative ; top: 40px; left: 30px;
}
.namep h1{
    color: #ff006a;
    font: normal 200% 'century gothic', arial, sans-serif;
    position : relative ; top: 40px; left: 30px;
}

.names h1{
    color:#ff006a;
    font: normal 200% 'century gothic', arial, sans-serif;
    position : relative ; top: 40px; left: 30px;
}

.info_film_page{
    margin-top: 2%;
    margin-bottom: 4%;
}
.info_film_page .label{
    font-size: 1.2em;

}
.info_film_page .value{
    font-size: 1em;
    color: #ff006a;
    margin-right: 3%;
}
.decriptions{
    margin-bottom: 15%;
    float: center;
}
.decriptions img{
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    border: solid 5px #ff006a;

}
.reviews{
    margin-bottom: 4%;
    font-size: 0.9em;
}
.reviews .review_name h1{
    background-color: #161616;
    color: #ff006a;
    padding: 1%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.reviews .review_text{
    border-radius: 5px;
    border: solid 5px #161616;
    background-color: #ff006a;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}
.send{
    margin-bottom: 4%;
}
.send input[type="text"], textarea {
    border: solid 1px #6b6b6b;
    margin-bottom: 2%;
}
.send input[type="text"]{
    width: 98%;
}
.send textarea{
    width: 624px;
    height: 200px;
    color: #6b6b6b;
}
.send input[type="submit"]{
    background-color: #ff006a;
    padding: 3%;
    color: #161616;
    border-radius: 5px;
}
.send_contact input[type="text"]{
    width: 500px;

}
.send_contact textarea{
    width: 516px;
}
.info{
    margin-bottom: 5%;
    background-color: #161616;
    padding: 5%;
    height: 270px;
}
.info img{
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    border: solid 5px #ff006a;
    width: 25%;
}
.button{
    background-color: #ff006a;
    padding: 2%;
    color: white;
    border-radius: 5px;
    float: right;
    margin-top: 5%;
    clear:both;
    font-size: 0.8em;
}
.button a{
    color: white;
}
table{
    width: 100%;
    border: solid 1px #f4f4f4;
}
td{
    padding: 2%;
    border: solid 1px #f4f4f4;
}
td img{
    width: 60px;
    vertical-align: middle;
}
.center{
    text-align: center;
}
.rating{
    font-weight: bold;
}
footer{
    width: 100%;
    height: 100px;
    padding: 28px 0 5px 0;
    text-align: center;
    background-color: #161616;
    color: #ff006a;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: whitesmoke;
    text-decoration: none;
}
.footer p{
    padding: 0 0 10px 0;
}
